language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"
env:
  - MONGODB_VERSION="2.6.12"
  - MONGODB_VERSION="3.0.11"
  - MONGODB_VERSION="3.2.5"
before_install:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-$MONGODB_VERSION.tgz
  - tar xfz mongodb-linux-x86_64-$MONGODB_VERSION.tgz
  - export PATH=`pwd`/mongodb-linux-x86_64-$MONGODB_VERSION/bin:$PATH
  - mkdir -p data/db
  - mongod --dbpath=data/db &
  - sleep 3
